html,
body {
  background-color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

select {
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  margin-left: auto;
  padding: 10px 02px;
  border-radius: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1#text_parameters {
  color: white;
  font-size: 22px;
  position: relative;
  width: fit-content;
  margin-right: 0px;
  margin-left: auto;
  border-radius: 15px;
  padding: 15px;
  border: 3px solid rgb(255, 255, 255);
}

canvas#plot_groundtrack {
  border: 0px solid rgb(33, 255, 244);
  position: absolute;
  top: 1%;
  left: 1%;
}
img#image_planisphere {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 360px;
  height: 180px;
}
